<h2 mat-dialog-title>{{params.title}}</h2>

<mat-dialog-content>
  <form (ngSubmit)="onSave()" [formGroup]="formGroup">
    <mat-form-field>
      <input matInput name="username" placeholder="Username" formControlName="username">
      <mat-error>This field is required</mat-error>
      <mat-hint>Please type your username</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="params?.typeDialog === 'new-user'" [attr.align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()"
          [disabled]="formGroup.invalid">Chat!
  </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="params?.typeDialog === 'edit-user'" [attr.align]="'end'">
  <button mat-button mat-dialog-close color="secondary">Close</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()">Save</button>
</mat-dialog-actions>
